*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.App{
margin-bottom: 10px;

margin: 150px;
padding: 150px;

}
.quotes{
  margin: 0 , auto;
  box-shadow: 2px 2px 8px rgb(0, 0, 0);
  padding: 2px 16px;
  background-color: white;
  display: block;
}

p{
  margin-bottom: 3rem;
}
h4{
  margin-bottom: 1rem;
  border-radius: 50%;
  border: none;
  font-size: 20px;
}
.author{
  display: block;
  text-align: right;
}

.nextbutton{
  position:relative;
  right: 10px;
  margin-right: 0;
  margin-left:auto;
  display: block;
}